.textbox p {
    color: #232323;
    font-size: 12px;
    text-align: bottom;
    padding: 0;
    text-shadow: 0 0 0 #232323;
    font-family: 'Noto Sans TC', sans-serif;
}

.textbox h5 {
    color: #202020;
    font-size: 17px;
    margin-bottom: 5px;
    margin-left: -3px;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-shadow: 0.5px 0px 0px #202020;
    transform: scale(.97, 1);
}

.textbox {
    text-align: left;
    margin-left: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.cardsWrapper {
    flex: 3;
    display: flex;
    align-items: center;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0rem;
    cursor: pointer;
    height: 100%;
    z-index: 4;
    position: relative;
    top: -30px;
}


.leftButton {
    margin-left: -3rem;
}

.rightButton {
    margin-right: -3rem;
}

.cardsContainer {
    display: flex;
    align-items: flex-end;
    /* Align items at the bottom */
    justify-content: center;
    height: 25rem;
}

.box {
    align-items: flex-start;
    width: 19rem;
    height: 32rem;
    //box-shadow: 0px 0px 2rem 0px #888888;
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(90deg, #F4D03F 0%, #92BB5E 44.3%, #4EAC74 75%, #16A085 100%);
    flex-direction: column;
}

.boxImage {
    width: 98%;
    margin: auto;
    margin-bottom: 18px;
    margin-top: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box:nth-child(3) {
    transform: scale(1);
    z-index: 2;
    -webkit-filter: brightness(1);
}

.box:nth-child(1),
.box:nth-child(5) {
    transform: scale(0.9);
    z-index: 1;
    -webkit-filter: brightness(0.6);
}

.box:nth-child(1) {
    left: -1%;
}

.box:nth-child(5) {
    left: 1%;
}

.card__text-content {
    text-align: left;
    width: 75%;
}

.card__title {
    padding: 1rem;
}

.box--hide {
    display: none;
}


.move-to-position3-from-left {
    animation: moveToP3Left 0.7s ease-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.7s ease-out;
}

.move-to-position1-from-left {
    animation: moveToP1Left 0.7s ease-out;
}

.move-to-position3-from-right {
    animation: moveToP3Right 0.7s ease-out;
}

.move-to-position2-from-right {
    animation: moveToP2Right 0.7s ease-out;
}

.move-to-position1-from-right {
    animation: moveToP1Right 0.7s ease-out;
}


@keyframes moveToP2Left {
    from {
        transform: scale(0.9) translateX(80%);
        z-index: 2;
        -webkit-filter: brightness(0.6);
    }

    to {
        transform: scale(1) translateX(0%);
        z-index: 3;
        -webkit-filter: brightness(1);
    }
}

@keyframes moveToP1Left {
    0% {
        transform: scale(1) translateX(80%);
        z-index: 3;
        -webkit-filter: brightness(1);
    }

    100% {
        transform: scale(0.9) translateX(0%);
        z-index: 1;
        -webkit-filter: brightness(0.6);
    }
}

@keyframes moveToP3Left {
    0% {
        transform: scale(0.9) translateX(90%);
        z-index: 2;
        -webkit-filter: brightness(0);
    }

    100% {
        transform: scale(0.9) translateX(0%);
        z-index: 2;
        -webkit-filter: brightness(0.6);
    }
}

@keyframes moveToP1Right {
    0% {
        transform: scale(0.9) translateX(-90%);
        z-index: 2;
        -webkit-filter: brightness(0);
    }

    100% {
        transform: scale(0.9) translateX(0%);
        z-index: 2;
        -webkit-filter: brightness(0.6);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.9) translateX(-80%);
        z-index: 2;
        -webkit-filter: brightness(0.6);
    }

    to {
        transform: scale(1) translateX(0%);
        z-index: 3;
        -webkit-filter: brightness(1);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(1) translateX(-80%);
        z-index: 3;
        -webkit-filter: brightness(1);
    }

    to {
        transform: scale(0.9) translateX(0%);
        z-index: 1;
        -webkit-filter: brightness(0.6);
    }
}