@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #ffffff;
	--background: #000000;
}

/*
@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
	}
}
*/

html {
	scroll-behavior: smooth !important;
	scroll-padding-top: 80px;
}

body {
	color: var(--white);
	background: var(--background);
}
