.heroBackdrop {
  background: linear-gradient(168.65deg, rgba(255, 255, 255, 0.27) -2.45%, rgba(255, 255, 255, 0) 75.41%);
	backdrop-filter: blur(22.5px);
	/* Note: backdrop-filter has minimal browser support */

	// border-radius: 8px;
}

.sectionTitle {
	// background: linear-gradient(109.22deg, rgba(32, 162, 130, 0.5) 17.48%, rgba(254, 238, 91, 0.5) 79.64%), #000000;

	// & > h1 {
	// 	text-shadow: 0px 0px 28px #3fa978, 0px 2px 2px rgba(0, 0, 0, 0.25);
	// }

	height: 480px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 4.58%, rgba(16, 117, 97, 0.445833) 31.91%, #F4D03F 100%);
}

.deadlineBackdrop {
	background: rgba(32, 162, 130, 0.15);
	// border: 1px solid;
	// border-image-source: linear-gradient(214.8deg, rgba(32, 162, 130, 0.54) 23.75%, rgba(217, 217, 217, 0) 79.5%);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.paperBackdrop {
	background: rgba(255, 255, 255, 0.12);
	border: 1px solid rgba(255, 255, 255, 0.5);
}