.accordion {
  background-color: "#123454";
}

.background {
	background-image: url('../../public/background_alt.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}